*{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:black;
}

ul, ol{
  list-style: none;
}

/* 헤더 스타일 */
header {
  background-color: white;
  color: black;
  padding: 10px;
}

/* 로고 스타일 */
#logo #logoImg {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top :50px;
}


#logo #image{
  
  width : 70px;
  height : auto;
  position : absolute;
  right: 445px;
  top : 35px;
}

/* 헤더 메뉴 스타일 */
#headerMenu {
  position : absolute;
  right:0;
  top : 0;
}

#headerMenu ul {
    display: flex;
  list-style: none;
  margin-top: 10px;

}

#headerMenu li {
  margin: 0 10px;
}

#headerMenu a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  font-size: 0.813em;
}

/* 검색 폼 스타일 */
#headerSearchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#headerSearchForm legend {
  margin-right: 10px;
}

#headerSearchForm select,
#headerSearchForm input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

#headerSearchForm input{
    width:40%;
}

#headerSearchForm button {
  background-color:#27403d;
  border-radius: 10px 10px 10px 10px;
  padding : 5px 10px;
  cursor: pointer;
}
#headerSearchForm button p{
  color : white;
  font-weight: bold;
}

#headerSearchForm button:hover{
  background-color: white;
   
}
#headerSearchForm button:hover >p{
  color : #27403d;
}



/* 네비게이션 스타일 */
nav {
display: flex;
justify-content: center; /* 가운데 정렬 */
height: 82px;
padding: 0;
border-top: 1px solid #ebebeb;
box-sizing: border-box;
margin: 0 auto; /* 좌우 중앙 정렬 */
border-bottom: 1px solid #ebebeb;

}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  position: relative;
  margin: 0 20px;
}

nav a {
            display: block;
            height: 76px;
            padding: 0 50px; /* 좌우 여백 조정 */
            color: #111;
            font-weight: bold; /* 굵은체로 설정 */
            line-height: 76px; /* 수직 가운데 정렬 */
              

}

nav ul ul {
  background-color :#27403d; 
  width: 200px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}

nav ul li:hover > ul {
  display: block;
  z-index: 100;
}

nav ul ul li {
  margin: 0;
  
}


nav ul ul li>a {
color:white;
  
}




/* 푸터 스타일 */
footer {
  background-color:#27403d;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 150px;
  width: 100%;
  position : absolute;
  top : 1265px;
}

#serviceNameArea {
	
	position : absolute;
	left : 50px; 
	font-size: 40px;
  top : 65px;
  font-weight: bold;
}






footer #rollUp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position :absolute;
  right: 30px;
  background-color: white;
}
