@charset "UTF-8";

/* 텍스트 기본스타일 */
.entry-content .left {text-align: left;}
.entry-content .center {text-align: center;}
.entry-content .right {text-align: right;}
.entry-content .alignleft {float: left; margin: 0.375em 1.75em 1.75em 0;}
.entry-content .alignright {float: right; margin: 0.375em 0 1.75em 1.75em;}
.entry-content .aligncenter {clear: both; display: block; max-width: 100%; margin: 0 auto 1.75em;}
.entry-content .line-left {position:relative; font-size:15px; line-height:24px; font-weight:500; color:#222; padding-left:20px;}
.entry-content .line-left:before {content:''; position:absolute; top:0;left:0; right:auto;bottom:0; display:block;width:7px;height:auto; margin:3px auto 4px auto; background:#222;}
.entry-content .quote-box {position:relative; font-size:15px; line-height:24px; font-weight:500; color:#222; padding-top:38px;}
.entry-content .quote-box:before {content:''; position:absolute;top:0;left:7px; width:23px; height:20px; text-align:left; color:#222; background:url(./assets/images/content/icon-quote.png) center center no-repeat; background-size:23px auto;}
.entry-content .quote-box:after {content:''; display: block; width: 100%; margin:16px 0 32px 0 !important; height:1px; background:#222;}
.entry-content .box1 {padding:18px 20px; font-size:15px; line-height:24px; color:#222; border:1px solid #eee; background:#f6f6f6; border-radius:10px;}

/* link style */
.entry-content .text-black {color: #222 !important; font-weight: 500;}
.entry-content a.text-black:hover, .entry-content a.text-black:focus { color: #222 !important; text-decoration: underline;}
.entry-content .text-dark {color: #555 !important; font-weight: 500;}
.entry-content a.text-dark:hover, .entry-content a.text-dark:focus { color: #555 !important; text-decoration: underline;}
.entry-content .text-primary {color: #4B4DFF !important; font-weight: 500;}
.entry-content a.text-primary:hover, .entry-content a.text-primary:focus { color: #4B4DFF !important; text-decoration: underline;}
.entry-content .text-danger {color: #dc3545 !important; font-weight: 500;}
.entry-content a.text-danger:hover, .entry-content a.text-danger:focus {color: #a71d2a !important; text-decoration: underline;}

h3.dot {position: relative; margin-left: 5px; z-index: 0;}
h3.dot:before {content:'';position:absolute;top:-4px;left:-10px;display:block;width:20px;height:20px;background:#d6e3f8; border-radius:50%; z-index:-1;}
h4.dot {position: relative; margin-left: 5px; z-index: 0;}
h4.dot:before {content:'';position:absolute;top:-4px;left:-10px;display:block;width:20px;height:20px;background:#d6e3f8; border-radius:50%; z-index:-1;}
h5.dot {position: relative; margin-left: 5px; z-index: 0;}
h5.dot:before {content:'';position:absolute;top:-4px;left:-10px;display:block;width:20px;height:20px;background:#d6e3f8; border-radius:50%; z-index:-1;}

.main-middle-banner .image {position: absolute;bottom: 0;left: 50%;display: block;margin: 0 0 -6px 227px;background-size: 100% 100% !important;}
.main-middle-banner .saedo-new {width: 258px;height: 221px;background: url(assets/images/banner/saedo-new-2022.png) left top no-repeat;}
.main-middle-banner .burnout {width: 258px;height: 184px;background: url(assets/images/banner/burnout.png) left top no-repeat;}
.main-middle-banner .curation_guide_2022 {width: 220px;height: 213px;background: url(assets/images/banner/curation_guide2022.png) left top no-repeat;}
.main-middle-banner .outer-space {width: 220px;height: 213px;background: url(assets/images/banner/outerspace3.png) left top no-repeat;}
.main-middle-banner .book-curation {width: 220px;height: 200px;background: url(assets/images/banner/book-curation-2022.png) left top no-repeat;}
.main-middle-banner .square {width: 200px;height: 200px;background: url(../img/square.png) left top no-repeat;}
@media (max-width: 768px){
    .main-middle-banner .image {left:auto; right:17px;margin:0 0 -6px 0;}
    .main-middle-banner .saedo-new {width:143px;height:122px;}
    .main-middle-banner .burnout {width:143px;height:102px;}
    .main-middle-banner .curation_guide_2022 {width:123px;height:120px;}
    .main-middle-banner .outer-space {width:123px;height:120px;}
    .main-middle-banner .book-curation {width:123px;height:110px;}
    .main-middle-banner .square {width:120px;height:120px;}
}

.main-notice-time .grid-layout-cell {
    padding: 20px 0;
}
.main-notice-time h4.con-title {
    margin-bottom: 20px;
}

/** vc custom box */
.vcc-title-content-box {position: relative;}
.vcc-title-content-box .btn-list-top-more {top:2px;}
.vcc-title-content-box .con-title {margin-bottom:15px; margin-top: 0;}
.vcc-title-box {position: relative;}
.vcc-title-box .btn-list-top-more {top:2px;}
.vcc-title-box .con-title {margin-bottom:15px; margin-top: 0;}

.vcc-content-box {}
.vcc-content-box .wrap-line {border-radius: 10px; border: 1px solid #eeeef5; padding:20px;}
.vcc-content-box .wrap-shadow {padding:20px; background:#fff;border-radius:10px;box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1); text-align:left; word-break:keep-all;}
.wpb_content_element.line .wpb_wrapper {border: 1px solid #eeeef5; padding:20px;}
.wpb_content_element.shadow .wpb_wrapper {padding:20px; background:#fff;box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1); text-align:left; word-break:keep-all;}
.wpb_content_element.round .wpb_wrapper {border-radius: 10px;}
/* row col */
.vc_row.line > .vc_column_container > .vc_column-inner > .wpb_wrapper {border: 1px solid #eeeef5; padding:20px;}
.vc_row.shadow > .vc_column_container > .vc_column-inner > .wpb_wrapper {padding:20px; background:#fff;box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1); text-align:left; word-break:keep-all;}
.vc_row.round > .vc_column_container > .vc_column-inner > .wpb_wrapper {border-radius: 10px;}
.vc_row.color-gray > .vc_column_container > .vc_column-inner > .wpb_wrapper {background-color: #f6f6f6;}
.vc_row.color-gray2 > .vc_column_container > .vc_column-inner > .wpb_wrapper {background-color: #eee;}
.vc_row.color-white-gray > .vc_column_container > .vc_column-inner > .wpb_wrapper {background-color: #f3f5f9;}

.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {margin-bottom: 30px;}
.wpb_row .wpb_content_element:last-child {margin-bottom: 0;}
#wp-admin-bar-vc_inline-admin-bar-link { display: none;}

/*.entry-content .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {padding-top: 4px}*/
.entry-content .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {padding-top: 0.3em; margin-right: 0.2em}
.entry-content .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {left: 25px;}
.entry-content .vc_btn3.vc_btn3-size-sm.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {left: 20px;}
.entry-content .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-md {font-size: 16px}
.entry-content .vc_btn3.vc_btn3-size-md, .entry-content .vc_btn3-block.vc_btn3-size-md {font-size: 16px;}
.entry-content .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-sm {font-size: 14px}
.entry-content .vc_btn3.vc_btn3-size-sm, .entry-content .vc_btn3-block.vc_btn3-size-sm {font-size: 14px;}
.entry-content .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-xs {font-size: 12px;}
.entry-content .vc_btn3.vc_btn3-size-xs, .entry-content .vc_btn3-block.vc_btn3-size-xs {font-size: 12px}

/* box margin move to vc custom.css */

/* font color */
.font-color-gray {color:#999 !important;}
.font-s {font-size: 90% !important;}
.font-xs {font-size: 80% !important;}

/* bootstrap */
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.justify-content-between {justify-content: space-between!important;}

/* display */
.display-none, .hide {display: none;}

/* width */
.width-xs {width: 5rem !important;}
.width-md {width: 30% !important;}
@media (max-width: 768px){
    .width-md {width: 100% !important;}
}

/*.eds-dc .link-indexdb {*/
/*    display: none !important;*/
/*}*/

/* margin, padding */
.m-0 {
    margin: 0 !important;
}

.mt-0,.my-0 {
    margin-top: 0 !important;
}

.mr-0,.mx-0 {
    margin-right: 0 !important;
}

.mb-0,.my-0 {
    margin-bottom: 0 !important;
}

.ml-auto {
    margin-left: auto;
}

.ml-0,.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1,.my-1 {
    margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1,.mx-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2,.my-2 {
    margin-top: 0.5rem !important;
}

.mr-2,.mx-2 {
    margin-right: 0.5rem !important;
}

.mb-2,.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2,.mx-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3,.my-3 {
    margin-top: 1rem !important;
}

.mr-3,.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,.mx-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4,.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4,.mx-4 {
    margin-right: 1.5rem !important;
}

.mb-4,.my-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4,.mx-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 2rem !important;
}

.mt-5,.my-5 {
    margin-top: 2rem !important;
}

.mr-5,.mx-5 {
    margin-right: 2rem !important;
}

.mb-5,.my-5 {
    margin-bottom: 2rem !important;
}

.ml-5,.mx-5 {
    margin-left: 2rem !important;
}

.mt-6,.my-6 {
    margin-top:2.5rem !important;
}

.mr-6,.mx-6 {
    margin-right:2.5rem !important;
}

.mb-6,.my-6 {
    margin-bottom: 2.5rem !important;
}

.ml-6,.mx-6 {
    margin-left: 2.5rem !important;
}

.mt-7,.my-7 {
    margin-top:3rem !important;
}

.mr-7,.mx-7 {
    margin-right:3rem !important;
}

.mb-7,.my-7 {
    margin-bottom: 3rem !important;
}

.ml-7,.mx-7 {
    margin-left: 3rem !important;
}

.mb-19 {
    margin-bottom:19px;
}

.p-0 {
    padding: 0 !important;
}

.pt-0,.py-0 {
    padding-top: 0 !important;
}

.pr-0,.px-0 {
    padding-right: 0 !important;
}

.pb-0,.py-0 {
    padding-bottom: 0 !important;
}

.pl-0,.px-0 {
    padding-left: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.pt-1,.py-1 {
    padding-top: 0.25rem !important;
}

.pr-1,.px-1 {
    padding-right: 0.25rem !important;
}

.pb-1,.py-1 {
    padding-bottom: 0.25rem !important;
}

.pl-1,.px-1 {
    padding-left: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2,.py-2 {
    padding-top: 0.5rem !important;
}

.pr-2,.px-2 {
    padding-right: 0.5rem !important;
}

.pb-2,.py-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2,.px-2 {
    padding-left: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.pt-3,.py-3 {
    padding-top: 1rem !important;
}

.pr-3,.px-3 {
    padding-right: 1rem !important;
}

.pb-3,.py-3 {
    padding-bottom: 1rem !important;
}

.pl-3,.px-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4,.py-4 {
    padding-top: 1.5rem !important;
}

.pr-4,.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,.px-4 {
    padding-left: 1.5rem !important;
}

.p-5 {
    padding: 2rem !important;
}

.pt-5,.py-5 {
    padding-top: 2rem !important;
}

.pr-5,.px-5 {
    padding-right: 2rem !important;
}

.pb-5,.py-5 {
    padding-bottom: 2rem !important;
}

.pl-5,.px-5 {
    padding-left: 2rem !important;
}

.pt-6,.py-6 {
    padding-top: 3.1rem !important;
}

/* 모듈 */
tr.hide {
    display: none !important;
}

/* 마이라이브러리 */
.col-no {
    width:6%;
}

.col-1 {
    width:10%;
}

.col-2 {
    width:16.666667%;
}

.col-5 {
    width: 41.666667%;
}

.col-auto {
    width: auto;
}

.col-th {
    width: 15%;
}

.max-width-600 {max-width: 600px;margin-left: auto;margin-right: auto;}
.max-width-700 {max-width: 700px;margin-left: auto;margin-right: auto;}
.max-width-800 {max-width: 800px;margin-left: auto;margin-right: auto;}
.max-width-900 {max-width: 900px;margin-left: auto;margin-right: auto;}
.max-width-1000 {max-width: 1000px;margin-left: auto;margin-right: auto;}

table .col-1 {width: 8.333333%;}
table .col-2 {width: 16.666667%;}
table .col-3 {width: 25%;}
table .col-4 {width: 33.333333%;}
table .col-5 {width: 41.666667%;}
table .col-6 {width: 50%;}
table .col-7 {width: 58.333333%;}
table .col-8 {width: 66.666667%;}
table .col-9 {width: 75%;}
table .col-10 {width: 83.333333%;}
table .col-11 {width: 91.666667%;}
table .col-12 {width: 100%;}

.mc-seat .bar-outer {
    display: block;
    text-align: left;
}

.mc-seat .bar.color1 {
    background: #56a4bb;
}

.mc-seat .num {
    display: inline-block;
    position: absolute;
    width: 70px;
    padding-left: 10px;
}

.mc-seat .bar {
    display: inline-block;
    width: 85%;
    height: 12px;
    border-radius: 12px;
}

@media (max-width: 768px){
    .col-no, .col-1, .col-2, .col-auto {
        width: 100%;
    }
    .list-sort > p {
        margin-top: 6px;
        display: block;
    }
}
.message-wrap .proposer {
    position: relative;
    display: inline-block;
    width: auto;
    height: 23px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
    padding: 0 10px;
    border: 1px solid #757583;
    border-radius: 3px;
    margin-bottom: 0;
    margin-right: 4px;
    color: #757583;
    background-color: #fff;
}
.message-wrap .manager {
    position: relative;
    display: inline-block;
    width: auto;
    height: 23px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
    padding: 0 10px;
    border: 1px solid #5d9cfd;
    border-radius: 3px;
    margin-bottom: 0;
    margin-right: 4px;
    color: #5d9cfd;
    background-color: #fff;
}
.message-wrap {margin-top: 8px; margin-bottom: 0;}
.message-wrap + .message-wrap {margin-top: 4px;}
.message-wrap span {margin-right: 4px;}
@media (max-width: 768px){
    .solars .table-col-group .table-col-data {display: block;}
}

label.error, .off-screen {
    display: none !important;
}

/* 모달 */
.rd-modal-dialog.active {
    opacity: 1;
    visibility: visible;
    z-index: 99999;
}

/* 종합검색 */
.global-language-search tbody td {
    cursor: pointer;
}

/* 도서 상세 액션 */
.solars_holding_items tr td:last-child span,
.solars_holding_issues span.email-dds{
    cursor: pointer;
}

#header-search .load3 {margin-top: 5px;}

/* 로딩바 */
.loader {
    font-size: 2px;
    margin: 0px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #000000;
    background: -moz-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -webkit-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -o-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -ms-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: linear-gradient(to right, #000000 10%, rgba(0,0,0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #000000;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* .main-wrap vc 랑 겹쳐서 오류 */
.main-wrap {
    margin-left: -50vw !important;
}

/*==============================================================
Default 퍼블 구조 추가
==============================================================*/
.entry-content ul {margin-bottom: 10px; margin-left: 10px}
.entry-content ul li {position:relative; font-size:15px; line-height:1.5; color:#222; text-align:left; padding-left:13px; margin-top:6px;}
.entry-content ul li:first-child {margin-top:0;}
.entry-content ul li:before {content:'';position:absolute;top:10px;left:0;display:block;width:4px;height:4px;border-radius:50%;background:#222;}
@media (max-width: 768px) {
    .entry-content ul li {font-size: 15px; padding-left: 10px;}
}

ol li {position:relative; font-size:15px; line-height: 1.5; color:#222; text-align:left; padding-left:20px; margin-top:6px;}
ol li:first-child {margin-top:6px;}
ol li:before {position:absolute;top:0;left:0;display:block;}
ol li:nth-child(1):before {content:'1.';}
ol li:nth-child(2):before {content:'2.';}
ol li:nth-child(3):before {content:'3.';}
ol li:nth-child(4):before {content:'4.';}
ol li:nth-child(5):before {content:'5.';}
ol li:nth-child(6):before {content:'6.';}
ol li:nth-child(7):before {content:'7.';}
ol li:nth-child(8):before {content:'8.';}
ol li:nth-child(9):before {content:'9.';}
ol li:nth-child(10):before {content:'10.';}
ol li:nth-child(11):before {content:'11.';}
ol li:nth-child(12):before {content:'12.';}
ol li:nth-child(13):before {content:'13.';}
ol li:nth-child(14):before {content:'14.';}
ol li:nth-child(15):before {content:'15.';}
ol li:nth-child(16):before {content:'16.';}
ol li:nth-child(17):before {content:'17.';}
ol li:nth-child(18):before {content:'18.';}
ol li:nth-child(19):before {content:'19.';}
ol li:nth-child(20):before {content:'20.';}

@media (max-width: 768px) {
    ol li {font-size: 15px; padding-left: 14px;}

    table.table-blue > thead > tr > th,
    table.table-blue > tbody > tr > td,
    table.table-blue > tbody > tr > th {padding: 8px; font-size: 15px;}
}


/*==============================================================
퍼블 구조 추가
==============================================================*/
/* 전자저널, 학술DB 추가 211227 */
/*.data-search-limit-cell .form-date-group input {height: 35px; font-size: 13px; border: 1px solid #cfcfda !important; border-radius: 3px;}*/
.btn-white-darkgray {color:#222 !important; background-color:#fff; border-color:#cfcfda !important;}
.label-background-grey {background-color: #555 !important; color: #fff !important;}
.solars-db-list-wrap h5.title-bar {margin-top: 0px !important;}
.solars-db-list-wrap .howtouse,
.solars-db-list-wrap .rm-content {display:none;width: 100%; background-color: #f6f6f6; margin: 4px; padding: 16px; font-size: 14px;}
.solars-db-list-wrap .howtouse a:hover,
.solars-db-list-wrap .rm-content a:hover {text-decoration: underline; color: #4B4DFF;}

/* 메인 비디오 영역 211228 */
.video iframe {width: 100%;}
@media screen and (max-width: 1024px) {
    .video iframe {width: 100%; height: 250px;}
}
@media (max-width: 768px) {
    .video iframe {width: 100%; height: 190px;}
}

/* 스터디룸 리스트 스타일 수정 211230 */
.lrm .room-list .search-section {background-color: #f3f5f9;}
.lrm .room-list .search-section .title {padding-top: 0; color: #222; padding-bottom: 8px;}
.lrm .room-list .search-section .row {margin: 0;}
.lrm .room-list .search-section ul.lrm-locations li input,
.lrm .room-list .search-section ul.lrm-locations li label {vertical-align: middle; font-size: 14px;}
.lrm .room-list .date-tab ul {margin-top: 20px; margin-bottom: 16px;}
.lrm .room-list .date-tab ul li a {border-radius: 3px; font-size: 14px; font-weight: 500; background-color: #f3f5f9;}
.lrm .room-list .date-tab ul li a.selected {background-color: #4b4dff; color: #fff;}
.lrm .room-list .info-help {margin-top: 40px; font-size: 14px;}
.lrm .date-tab #room_timetable .col-title {width: 350px;}
.lrm .date-tab #room_timetable thead tr td {line-height: 50px; font-size: 14px; background-color: #f3f5f9; color: #222; border-left: 1px solid #eeeef5 !important; border-bottom: 1px solid #eeeef5; font-weight: 500;}
.lrm .date-tab #room_timetable tbody td.room-name {font-size: 14px; background-color: #fff; color: #222; border-top: 0 !important; border-bottom: 1px solid #eeeef5; border-right: 1px solid #eeeef5; border-left: 1px solid #eeeef5;}
.lrm .date-tab #room_timetable tbody td.room-name .in-mobile {display: none;}
.lrm .date-tab #room_timetable tbody tr:last-child td.room-name {border-bottom: 1px solid #eeeef5;}
.lrm .date-tab .info-message {display: none;}
.lrm .room-list .room-loop .title-cell {padding-left: 16px; width: 20%;}
.lrm .room-list .room-loop .title-cell .room-title {font-size: 16px;}
.lrm .room-list .room-loop .person-cell {padding-left: 16px;}
.lrm .room-list .room-loop .person-cell img {width: 16px; height: auto; vertical-align: middle;}
.lrm .room-list .room-loop .person-cell label {vertical-align: middle; font-size: 15px;}
.lrm .room-list .room-loop .desc-cell {padding-right: 40px;}
.lrm .room-list .room-loop .desc-cell img {height: auto;}
.lrm .room-list .room-loop .desc-cell .room-desc {margin-top: 8px;}
.lrm .room-list .room-loop .desc-cell .room-desc ul {border: none;}
.lrm .room-list .room-loop .desc-cell .room-desc ul li {padding: 0; border: none; color: #666666;}
.lrm .room-list .room-loop ul li {padding: 16px 0; width: 100%; font-size: 14px;}
.lrm .room-list .room-loop .action-cell {vertical-align: middle;}
.lrm .room-list .room-loop .action-cell a {display: inline-block; padding: 0 40px; height: 45px; line-height: 45px; border: 1px solid #cfcfda; border-radius: 3px; transition: all 0.25s ease;}
.lrm .room-list .room-loop .action-cell a:hover {box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);}
@media (max-width: 768px) {
    .lrm #room_timetable .time-cell {padding: 0.5em !important;}
    .lrm #room_timetable_wrapper tbody td.not-available {background-size: 20px !important;}
    .lrm .date-tab #room_timetable thead tr td {line-height: 1;}
    .lrm .date-tab #room_timetable tbody td.room-name {font-size: 13px;}
    .lrm .date-tab #room_timetable tbody td.room-name .in-pc {display: none;}
    .lrm .date-tab #room_timetable tbody td.room-name .in-mobile {display: block;}
}


/* 스터디룸 신청 스타일 수정 211230 */
.lrm .room-single .single-room {border: 0; background-color: #f3f5f9; padding: 24px 30px;}
/*.lrm .room-single .single-room .thumb-cell {width: 370px; height: 220px;}*/
.lrm .room-single .single-room .content-cell {width: auto;}
.lrm .room-single .content-cell .room-extra img {height: auto; vertical-align: middle;}
.lrm .room-single .content-cell .room-desc {color: #555; font-size: 15px;}
.lrm .room-single .date-tab ul {margin-top: 20px; margin-bottom: 16px;}
.lrm .room-single .date-tab ul li a {border-radius: 3px; font-size: 14px; font-weight: 500; background-color: #f3f5f9;}
.lrm .room-single .date-tab ul li a.selected {background-color: #4b4dff; color: #fff;}
.lrm .room-single .info-help {margin-top: 64px; font-size: 14px;}
.lrm .room-single .data-rsv .data-area #study_time {background-color: #d6e3f8; border: 0; color: #222; font-size: 14px; font-weight: 500;}
.lrm .room-single .data-rsv .data-area .min-check {font-size: 14px; color: #222; padding-right: 8px;}
.lrm .room-single .data-rsv .data-area .student-input input[type="button"] {background-color: #f3f5f9; border: 1px solid #f3f5f9; padding: 6px 10px;}
.lrm .room-single .data-rsv .rsv-btn-area {padding-top: 40px;}
.lrm .room-single .data-rsv .rsv-btn-area input[type="submit"] {min-width: 150px; background-color: #4b4dff; border: 1px solid #4b4dff; border-radius: 6px; height: 50px; color: #fff; font-size: 15px; font-weight: 500; margin: 4px; line-height: 50px;}
.lrm .room-single .data-rsv .rsv-btn-area a {display: inline-block; min-width: 150px; background-color: #f3f5f9; border: 1px solid #f3f5f9; border-radius: 6px; height: 50px; color: #222; font-size: 15px; font-weight: 500; margin: 4px; line-height: 50px;}
.lrm .room-single .rsv-descript {font-size:15px; line-height:24px;color:#555;text-align:left;padding:16px 20px;background:#fff4f5;border:1px solid #ff4b5c;border-radius:10px;}
.lrm .room-single .rsv-descript ul li {font-size: 15px;}

/* 스터디룸 신청 스타일 수정 211230 */
.lrm .room-mypage .lrm-header a.blue-gray {display: inline-block; height:30px; font-size:13px; font-weight: 500; line-height:28px; padding:0 10px; border-radius:3px; color:#222; background-color:#fff; border: 1px solid #cfcfda;}
.lrm .room-mypage .lrm-header a.info {display: inline-block; height:30px; font-size:13px; font-weight: 500; line-height:28px; padding:0 10px; border-radius:3px; color:#fff; background-color:#4b4dff; border: 1px solid #4b4dff;}
.lrm .room-mypage .section-box {padding-top: 8px;}
.lrm .room-mypage .room-loop .datetime-cell,
.lrm .room-mypage .room-loop .rep-user-cell,
.lrm .room-mypage .room-loop .user-cell {vertical-align: middle;}
.lrm .room-mypage .room-loop .action-cell a.reservation-remove {margin-top: 8px;}

/* 대출/반납 아코디언 211230 */
.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a {padding: 18px 20px;}
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel:first-child .vc_tta-panel-title>a {border-top: 1px solid #cfcfda;}
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {background-color: #fff; font-size: 18px; color: #222; border-bottom: 1px solid #cfcfda;}
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a {color: #222; line-height: 1.4;}
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover,
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {border-color: transparent; background-color: #fff;}
/*.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body {padding: 0 32px 40px 32px;}*/
/*.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body table {margin-bottom: 2rem;}*/
.vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {background-color: #f3f5f9;}
/*.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body h5 {position: relative; margin-top: 40px;}*/
.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body h5:before {content:'';position:absolute;top:-4px;left:-10px;display:block;width:20px;height:20px;background:#d6e3f8; border-radius:50%; z-index:-1;}
.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body ul li {position:relative; font-size:15px; line-height:24px; color:#555; text-align:left; padding-left:13px; margin-top:6px;}
.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body ul li:first-child {margin-top:0;}
.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body ul li:before {content:'';position:absolute;top:10px;left:0;display:block;width:4px;height:4px;border-radius:50%;background:#222;}
.vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body ul li span {font-weight: 500;}
.vc_transform .wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right.vc_tta-panel-title>a {padding-right: 60px;}
@media (max-width: 768px) {
    .vc_transform .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {font-size: 15px;}
    .vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body {padding: 0 16px 32px 16px;}
    .vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body table {margin-bottom: 8px;}
    .vc_transform .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a {padding: 16px 8px }
}


/* 공지사항 테이블 */
.label-new.small {width: 18px; height: 18px; color: #fff; background-color: #ff4b5c; border-radius: 50%; margin-left: 4px; margin-top: 2px;}
.label-new.small:before {content: "N";}
.board-input-group select {width: 100px; height: 38px;}
.board-input-group input[type="text"] {width: 250px; height: 38px; margin-left: -1px;}
.board-input-group button[type="submit"] {width: 38px; height: 38px; background-color: #222; }
.notice-board .num { width:60px; }
.notice-board .category { width:100px; }
.notice-board .subject { width:auto; }
.notice-board .writer { width:110px; }
.notice-board .date { width:120px; }
.notice-board .count { width:100px; }
.notice-board td.subject .subject-text {width: 100%; display: inline-flex;}
.notice-board td.subject .subject-text a {max-width: calc(100% - 24px); white-space: break-spaces;}
.notice-board tbody td {padding: 9px 5px}
.board-detail {padding: 30px 0; border-bottom: 1px solid #eeeef5;}
@media (max-width: 768px) {
    .label-new.small {width: 16px; height: 16px;}
    .board-input-group {width: 100%; padding-top: 8px;}
    .board-input-group select {width: 85px; height: 35px;}
    .board-input-group input[type="text"] {width: 220px; height: 35px;}
    .board-input-group button[type="submit"] {width: 35px; height: 35px;}
    table.notice-board {text-align: left;}
    .notice-board thead {display: none;}
    .notice-board tbody tr {border-bottom: 1px solid #eeeef5;}
    .notice-board tbody td {display: inline-block; text-align: left; border: 0; padding: 4px 0;}
    .notice-board .num { width:auto; display: none;}
    .notice-board .category { display: none;}
    .notice-board .subject { width:100%; padding-top: 15px; display: inline-flex;}
    .notice-board .writer { width:auto; padding-bottom: 15px;}
    .notice-board .date { width:auto; padding-bottom: 15px;}
    .notice-board .count { width:auto; padding-bottom: 15px;}
    .notice-board td.writer > div, .notice-board td.date {padding-right: 8px;}
    .notice-board td.writer >div:after, .notice-board td.date:after {content: ""; border-right: 1px solid #ddd; margin-left: 8px;}
    /*.notice-board td.category span {background: #f3f5f9; border: 1px solid #cfcfda; padding: 4px 6px; border-radius: 3px; color: #222; font-size: 12px;}*/
    /*.notice-board td.subject a {max-width: calc(100% - 24px); font-weight: 500; color: #222;}*/
}

/* 메인 로그아웃 시 height값 오류 220103 */
.main-top-wrap .grid-layout-cell {padding-left: 15px; padding-right: 15px; padding-top: 0; padding-bottom: 0;}
.main-top-wrap .grid-layout-cell .vc_column-inner {padding-left: 0; padding-right: 0;}
.main-top-wrap .grid-layout-cell:nth-child(2) .vc_column-inner {height:100%; display:flex; align-items:center; justify-content: center; border-radius:10px; text-align:center;}
.main-top-wrap .grid-layout-cell:nth-child(2) .vc_column-inner .wpb_wrapper {width: 100%; height: 100%;}
.main-login-before {padding: 40px 0;}
@media (max-width: 1024px) {
    .vc_row.main-top-wrap {margin-left: 0; margin-right: 0;}
    .slider-wrap .btn-circle-white-prev, .slider-wrap .btn-circle-white-next {display: none;}
    /*.main-top-banner.slider-wrap .btn-circle-white-prev {margin: -17px 0 0 16px}*/
    /*.main-top-banner.slider-wrap .btn-circle-white-next {margin: -17px 16px 0 0;}*/
}
@media (max-width: 768px) {
    .vc_row.main-top-wrap {margin-left: 0; margin-right: 0;}
    .main-top-banner.slider-wrap .btn-circle-white-prev {margin: -13px 0 0 16px}
    .main-top-banner.slider-wrap .btn-circle-white-next {margin: -13px 16px 0 0;}
}

/* 메인 공지사항 220104 */
.grid-layout-cell .main-customer-card {height: 480px;}
.main-customer-card .tab-data-cell .simple-item-list .simple-item-list:last-child a.btn-simple-item-list-nav {border-bottom: 0;}

/* 컬렉션 정사각형 썸네일 검색창 페이지 추가 220104 */
@media (max-width: 1024px) {
    .tab-scroller-group {justify-content: center;}
}

/* 메인 백그라운드 + 공지사항, 일정, 이용시간 너비값 220104 */
#mainQuickMenu {margin-bottom: 0;}
#mainQuickMenu .main-menu-wrap{margin-bottom: 30px;}
#mainQuickMenu:after {content:""; width: 100%; height: 90px; background-color: #f3f5f9; position: absolute; left: 0; bottom: 0;}
.main-notice-time .grid-layout-cell {padding: 0;}
/*.main-notice-time .vc_column-inner .wpb_content_element {margin-bottom: 60px;}*/
.main-hours-list-row:last-child {border-bottom: 0;}
@media (max-width: 1024px) {
    #mainQuickMenu:after {display: none;}
    #mainQuickMenu .main-menu-wrap {margin-bottom: 60px;}
    .main-notice-time .vc_column-inner .wpb_content_element {margin-bottom: 40px;}
    .main-notice-time .main-notice-time-01,
    .main-notice-time .main-notice-time-02 {width: 50%;}
    .main-notice-time .main-notice-time-03 {width: 100%;}
    .main-notice-time .main-notice-time-03 .vc_column-inner {padding-top: 0 !important;}
}
@media (max-width: 768px) {
    #mainQuickMenu .main-menu-wrap {margin-bottom: 40px;}
    .grid-layout-cell .main-customer-card {height: auto;}
    .grid-layout-cell .main-customer-card .main-customer-hours > div {height: auto !important;}
    .main-notice-time .vc_column-inner {padding-top: 20px !important;}
    .main-notice-time .vc_column-inner .wpb_content_element {margin-bottom: 0;}
    .main-notice-time .main-notice-time-01,
    .main-notice-time .main-notice-time-02 {width: 100%;}
    .main-notice-time .main-notice-time-03 .vc_column-inner {padding-top: 20px !important; padding-bottom: 20px;}
}
/*시설이용안내, 도서관소개 서브메뉴 왼쪽 치우치지 않게*/
@media (max-width: 1024px) {
    /*#menu-item-6820 ul {padding-left: 0;}*/
    /*#menu-item-19180 ul {padding-left: 0;}*/
}
@media (min-width: 1280px) {
    #menu-item-6820 ul {padding-left: 217px;}
    #menu-item-19180 ul {padding-left: 455px;}
    .sitemap-menu-wrap #menu-item-6820 ul {padding-left: 0;}
    .sitemap-menu-wrap #menu-item-19180 ul {padding-left: 0;}
}

/* 서브페이지에서 2depth로 인한 패딩값 220104 */
/*#container {padding-top: 50px;}*/
/*.home #container {padding-top: 0;}*/
/*@media (max-width: 768px) {*/
/*    #container {padding-top: 0;}*/
/*}*/

/* 연구정보가이드 커스텀 아코디언 220104 */
.research-info-guide {margin-top: -20px; margin-bottom: 0 !important;}
.research-info-guide .research-guide-button {margin-bottom: 16px;}
.research-info-guide .research-guide-button a img {margin-right: 8px; width: 43px; height: auto;}
.research-info-guide .research-guide-button a span {font-size: 18px; margin-left: 16px;}
.accordion-small-wrap .accordion-small-box .wpb_content_element {margin-bottom: 0;}
.accordion-small-wrap .accordion-small-box .wpb_content_element h5 {text-align: center; padding: 15px 0; background-color: #4b4dff; color: #fff; border-radius: 6px;}
.wpb-js-composer .accordion-small-wrap .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-title > a {font-size: 16px;}
.wpb-js-composer .accordion-small-wrap .vc_tta.vc_general .vc_tta-panel:first-child .vc_tta-panel-title > a {border-top: 0;}
.vc_transform .wpb-js-composer .accordion-small-wrap .vc_tta.vc_general .vc_tta-panel-body {padding: 16px;}
.accordion-small-wrap .vc_tta.vc_general .vc_tta-panel-body a {display: inline-block; font-size: 15px; padding: 4px 0;}
.accordion-small-wrap .vc_tta.vc_general .vc_tta-panel-body a .num {font-size: 13px; background-color: #4b4dff; color: #fff; text-align: center; width: 18px; height: 18px; border-radius: 3px; margin-right: 4px; vertical-align: middle; margin-bottom: 3px;}

@media (max-width: 1024px){
    .accordion-small-wrap .accordion-small-box {width: 50%;}
}
@media (max-width: 768px){
    .accordion-small-wrap .accordion-small-box {width: 100%;}
    .accordion-small-wrap .accordion-small-box .wpb_content_element h5 {padding: 10px 0;}
    .research-info-guide .research-guide-button a {font-size: 14px; height: 35px;}
    .research-info-guide .research-guide-button a img {width: 36px;}
    .research-info-guide .research-guide-button a span {font-size: 15px; margin-left: 8px;}
    .wpb-js-composer .accordion-small-wrap .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-title > a {font-size: 15px;}
    .accordion-small-wrap .vc_tta.vc_general .vc_tta-panel-body a {font-size: 14px;}
    .accordion-small-wrap .vc_tta.vc_general .vc_tta-panel-body a .num {width: 16px; height: 16px; line-height: 16px;}

    .vcc-title-content-box .btn-list-top-more {top:1px;}
    .vcc-title-box .btn-list-top-more {top:1px;}
}

/* 푸터 문의하기 220104 */
.page-bottom-customer {width: 1170px; margin: 0 auto;}
@media (max-width: 1024px){
    .page-bottom-customer {width: calc(100% - 40px);}
}

/* 메인 전반적인 스타일 수정 220105 */
.simple-item-list .btn-simple-item-list-nav {height: 53px;}
.quick-menu-tab-data h3{margin-top: 0;}
.quick-menu-tab-data-box {background-color: #fff; padding: 32px 30px 32px 30px; border-radius: 10px; box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1); margin-bottom: 0 !important; max-height: 100%; height: 290px;}
.quick-menu-tab-data-box h4 {margin-top: 0;}
.youtube-wrap {margin-bottom: 30px;}
@media (max-width: 1024px){
    .quick-menu-tab-data-box {height: auto;}
    .youtube-wrap {margin-top: 60px;}
}
@media (max-width: 768px){
    .quick-menu-tab-data.vc_row {background-color: #fff !important;}
    .quick-menu-tab-data.vc_row .vc_column-inner {padding-top: 0;}
    .quick-menu-tab-data.vc_row .vc_column-inner ul li {font-size: 14px; margin-top: 2px;}
    .quick-menu-tab-data.vc_row .vc_column-inner .wpb_content_element {margin-bottom: 16px !important;}
    .quick-menu-tab-data .vc_row .vc_column-inner .quick-menu-tab-data-box {height: auto; padding: 20px;}
    .simple-item-list .btn-simple-item-list-nav {height: 44px;}
}

/* 책 썸네일 220105 */
.thumb-obj {border: 1px solid #eeeef5;}

/* 도서관 소식지 220106 */
.blog-content .vc_row[data-vc-full-width] {overflow: inherit; margin-top: 110px; margin-bottom: 0; padding-bottom: 80px;}
.blog-content .vc_row[data-vc-full-width] .vc_column-inner {padding-top: 0;}
.blog-content .row-exhibit {margin-bottom: 120px;}
.blog-content table.table tbody tr th {color: #222;}
.blog-content .exhibit-title-wrap {max-width: 1000px; text-align:center; background:#fff; border: 4px solid #DEDEF1; padding:24px; margin:0 auto; margin-top: -60px;}
.blog-content .exhibit-title-wrap .exhibit-title {font-size: 28px; padding-bottom: 8px; line-height: 1.2;}
.blog-content .list-title-wrap {max-width: 1000px; margin: 0 auto 24px auto;}
.blog-content .exhibit-shelf-wrap {max-width: 1000px; margin: 0 auto;}
.blog-content .exhibit-shelf-wrap .exhibit ul {margin: -15px; font-size: 0;}
.blog-content .exhibit-shelf-wrap .exhibit ul li {width: 16.6666%; display: inline-block; padding: 15px; margin-top: 0; position: relative; vertical-align: top;}
.blog-content .exhibit-shelf-wrap .exhibit ul li:before {display: none;}
.blog-content .exhibit-shelf-wrap .shelf-item {position: relative;}
.blog-content .exhibit-shelf-wrap .shelf-thumb { position: relative; padding-top: 150%; overflow: hidden; border:1px solid #F0F0F0; border-radius:4px;}
.blog-content .exhibit-shelf-wrap .shelf-thumb .centered {position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%);}
.blog-content .exhibit-shelf-wrap .shelf-thumb .centered img {position: absolute; left: 0; max-width:inherit; max-height: 100%; width:auto; height: auto; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); margin:auto;}
.blog-content .shelf-thumb-shadow {background:url(assets/images/content/book-shadow.png) no-repeat; width:100%; height:25px; background-size:100%; z-index: 3; position: relative;}
.blog-content .shelf-imgs {background:url(assets/images/content/shelf-bg.png) repeat-x center bottom; height:48px; width:100%; position:absolute; left:0; bottom:auto; margin-top: -25px; box-shadow: 0 46px 16px rgba(138,138,161,0.1);}
.blog-content .shelf-wrap ul li:nth-child(6n+1) .shelf-imgs:before {content:''; background:url(assets/images/content/shelf-bg-left.png) no-repeat; background-size:30px 48px; height:48px; width:30px; position:absolute; top:0; left:-30px;}
.blog-content .shelf-wrap ul li:nth-child(6n) .shelf-imgs:after {content:''; background:url(assets/images/content/shelf-bg-right.png) no-repeat; background-size:30px 48px; height:48px; width:30px; position:absolute; top:0; right:-30px;}
.blog-content .shelf-items {padding-top: 40px;}
.blog-content .shelf-items .shelf-meta {padding-top: 8px; color: #999;}
.blog-content .flexslider {border: 0;}
.blog-content .flexslider .slides img {height: auto !important;}
.blog-content .wpb_gallery .wpb_flexslider ol.flex-control-nav {margin-top: -32px;}
.blog-content ol.flex-control-nav li {padding-left: 0;}
.blog-content ol.flex-control-nav li:before {display: none;}
.blog-content ol.flex-control-nav li:first-child {margin-top: 0;}
.blog-content ul li {position: inherit;}
.blog-content ul li::before {display: none;}
.blog-content .flex-direction-nav a {font-size: 0;}
@media (max-width: 768px){
    .blog-content .vc_row {margin-bottom: 12px;}
    .blog-content .vc_row[data-vc-full-width] {padding-bottom: 40px; overflow: hidden; margin-top: 60px;}
    .blog-content .guide-view-body .wpb_single_image .vc_figure {margin-bottom: 24px;}
    .blog-content .guide-view-body table tr th,
    .blog-content .guide-view-body table tr td {line-height: 1.5;}
    .blog-content .exhibit-title-wrap {margin-top: 30px;}
    .blog-content .post-poster-thumb {padding-bottom: 24px;}
    .blog-content .list-title-wrap {margin: 0 auto 10px auto;}
    .blog-content .row-exhibit {margin-bottom: 40px;}
    .blog-content .exhibit-title-wrap .exhibit-title {font-size: 18px;}
    .blog-content .exhibit-shelf-wrap .exhibit ul li {width: 50%;}
    .blog-content .shelf-wrap ul li:nth-child(2n+1) .shelf-imgs:before {content:''; background:url(assets/images/content/shelf-bg-left.png) no-repeat; background-size:30px 48px; height:48px; width:30px; position:absolute; top:0; left:-30px;}
    .blog-content .shelf-wrap ul li:nth-child(2n) .shelf-imgs:after {content:''; background:url(assets/images/content/shelf-bg-right.png) no-repeat; background-size:30px 48px; height:48px; width:30px; position:absolute; top:0; right:-30px;}
    .blog-content .flexslider {margin-bottom: 16px !important;}
}


/* 마이라이브러리 레이아웃 수정 220107 */
.mylibrary-menu-wrap {border: 1px solid #CFCFDA; border-radius: 20px; padding: 24px 40px;}
.mylibrary-menu-wrap .mylibrary-menu-box {padding: 16px 0; border-bottom: 1px dashed #CFCFDA; }
.mylibrary-menu-wrap .mylibrary-menu-box:last-child {border-bottom: 0;}
.mylibrary-menu-wrap h5 {margin-top: 0 !important; margin-bottom: 0; width: 16%;}
.mylibrary-menu-wrap .mylibrary-menu {width: 84%;}
.mylibrary-menu-wrap .mylibrary-menu a {display: inline-block; padding-right: 16px;}
.mylibrary-menu-wrap .mylibrary-menu a:hover,
.mylibrary-menu-wrap .mylibrary-menu a.active {color: #4B4DFF; font-weight: 500;}
@media (max-width: 1024px){
    .mylibrary-menu-wrap h5 {width: 20%;}
    .mylibrary-menu-wrap .mylibrary-menu {width: 80%;}
}
@media (max-width: 768px){
    .mylibrary-menu-wrap {border: 0; padding: 0; width: 100%; overflow-x: auto;}
    .mylibrary-menu-wrap .mylibrary-menu-box {width: 1000px;}
    .mylibrary-menu-wrap h5 {width: auto;
        /*position: fixed; */
        background-color: #fff; padding-right: 8px;}
    .mylibrary-menu-wrap h5:after {content:''; position:absolute; top:1px; right:0; display:block; width:20px; height:43px; background: linear-gradient(90deg, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 0%); z-index:150;}
    .mylibrary-menu-wrap .mylibrary-menu {padding-left: 10px; }
}

/* 역대도서관장 220107 */
.master-list-wrap .user-info-history-title {width: 53px;}
.master-list-wrap .vc_column-inner .wpb_wrapper {margin: -15px; display: flex; flex-wrap: wrap;}
.master-list-wrap .vc_column-inner .wpb_wrapper .grid-layout-cell {width: 33.333%; padding: 15px;}
@media (max-width: 768px){
    .master-list-wrap .user-info-history-title {width: 53px;}
    .master-list-wrap .vc_column-inner .wpb_wrapper {margin: 0;}
    .master-list-wrap .vc_column-inner .wpb_wrapper .grid-layout-cell {width: 100%; padding: 0; margin-top: 16px;}
    .master-list-wrap .vc_column-inner .wpb_wrapper .grid-layout-cell:first-child {margin-top: 0;}
}


/* 박스 높이값 맞추기 220110 */
.vc_row.h-auto {display: flex;}
.vc_row.h-auto .vc_column-inner {height: 100%;}
.vc_row.h-auto .vc_column-inner > .wpb_wrapper {display: flex; flex-direction: column;}
.vc_row.h-auto .vc_column-inner .wpb_wrapper,
.vc_row.h-auto .vc_column-inner .wpb_content_element {height: inherit;}
@media (max-width: 768px){
    .vc_row.h-auto {display: block;}
    .vc_row.h-auto .vc_column-inner {height: auto;}
    .vc_row.h-auto > .wpb_column {margin-bottom: 16px;}
    .vc_row.h-auto > .wpb_column:last-child {margin-bottom: 0;}
}

/* 전자저널, 학술논문 220110 */
.data-search-result-cell .text-list-item-files > div {margin: 4px 0;}
.btn-icon-view .icon {background-repeat: no-repeat; background-position: center center;}

/* 상세페이지 청구기호 브라우징 높이값 220118 */
.thumb-basic-slider .swiper-wrapper {height: inherit;}

/* 상세페이지 소장정보 220118 */
.solars-holding-issues .label-item-group {align-items: center;}
.solars-holding-issues .label-item-group .label-item {padding-right: 16px;}

/* 푸터 문의하기 너비 220118 */
.page-bottom-customer .icon {width: 21px; background-repeat: no-repeat; background-position: center right;}

/* 희망도서, 원문복사(상호대차) 테이블 220118 */
table .info-message {vertical-align: middle; color: #999; padding-left: 8px;}
table tr.for-overseas td input,
table tr.for-overseas td label {vertical-align: middle;}
table tr.for-overseas td label {margin-right: 16px;}
@media (max-width: 768px){
    table tr.for-overseas td label {margin-right: 8px;}
}

/* 그룹스터디룸 220118 */
.entry-content .lrm ul {list-style: none !important; padding-bottom: 16px;}
.entry-content .lrm ul li {margin-top: 0; padding-left: 0; padding-top: 2px; padding-bottom: 2px;}
.entry-content .lrm ul li:before {display: none;}
.entry-content .lrm .content-cell {padding-left: 32px;}
.lrm .room-list .room-loop .action-cell a.wrongdoing-report {border: 1px solid #ff4b5c; color: #ff4b5c; height: 30px; line-height: 30px; font-size: 13px; padding: 0 16px; margin-top: 8px;}

/* 내서재담기 220118 */
ul.dd-list li:before {display: none;}
ul.dd-list li {padding-left: 0;}

/* 모바일 header 메뉴 숨김 220118 */
@media (max-width: 768px){
    .header-gnb-wrap .main-nav-list li#menu-item-19111,
    .header-gnb-wrap .main-nav-list li#menu-item-19119 {display: none;}
}

/* 이용교육 셀렉트 추가 220121 */
.list-sort-education .list-sort-right .btn {padding: 0 7px; height: 30px; font-size: 13px;}
.lem-list-loop .icon-edu-pen {background-size: 15px;}
@media (max-width: 768px){
    .lem-list-loop .btn-no-action {margin: 4px 6px;}
}

/* 부산대 소식지(블로그) */
.blog-content table.table > tbody > tr > th,
.blog-content table.table > tbody > tr > td {border: 0; border-top: 1px solid #dee2e6;}
.comment-list-item.depth-2,
.comment-list-item.depth-3,
.comment-list-item.depth-4,
.comment-list-item.depth-5,
.comment-list-item.depth-6,
.comment-list-item.depth-7,
.comment-list-item.depth-8 {box-shadow: none; border-top: 1px solid #eeeef5; padding: 24px 0 0 16px; border-radius: 0;}
.comment-list-item.depth-2 .comment-list-name:before,
.comment-list-item.depth-3 .comment-list-name:before,
.comment-list-item.depth-4 .comment-list-name:before,
.comment-list-item.depth-5 .comment-list-name:before,
.comment-list-item.depth-6 .comment-list-name:before,
.comment-list-item.depth-7 .comment-list-name:before,
.comment-list-item.depth-8 .comment-list-name:before {content: "ㄴ"; display: inline-block; font-weight: 500; padding-right: 8px;}

/* 소장자료 링크 컬러 변경 */
.product-view-option-value a {color: #2883f3 !important; text-decoration: underline !important;}

/* 북토크 버그 수정 */
.bootalk-wrap {
    height: auto !important;
}
/*.product-talk-list .card-talk-item .product-talk-button a {*/
    /*display: none;*/
    /*text-decoration: none;*/
/*}*/
.product-talk-list .card-talk-item.my .product-talk-button a {display: inline-block; text-decoration: underline; font-size: 14px; padding-left: 4px;}

/* EDS */
.eds-iq-journal-search .page-search-input .custom-select {
    width: 145px;
}

/* 이용교육 완료된 교육 펼쳤을 때 220222 */
.lem-list-loop .detail {
    display: none;
    clear: both;
    padding: 15px;
}
.lem-list-loop .detail .detail-list {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    width: 100%;
    display: inline-flex;
}
.lem-list-loop .detail .detail-list li {
    margin-top: 0;
    padding: 16px 16px 14px 16px;
    border: 1px solid #e4e5e6;
    background-color: #f6f6f6;
    width: 33.333%;
    margin-right: 16px;
    border-radius: 6px;
}
.lem-list-loop .detail .detail-list li:last-child {
    margin-right: 0;
}
.lem-list-loop .detail .detail-list li:before {
    display: none;
}
.lem-list-loop .detail .dt {
    margin-right: 12px;
    color: #4b4dff;
}
.lem-list-loop i {
    display: none;
}
.lem-list-loop .detail .dd {
    display: inline-block;
    vertical-align: middle;
}
.lem-list-loop .detail .library-map {
    display: inline-block;
    height: 24px;
    margin-left: 8px;
    margin-top: -2px;
    padding: 3px 8px 2px 7px;
    border-radius: 2px;
    background: #4b4dff;
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
}
.lem-list-loop .detail-content {
    padding-top: 16px;
    text-align: left;
}
/*.lem-list-loop .detail-content li {*/
/*    list-style: disc;*/
/*}*/
@media (max-width: 768px) {
    .lem-list-loop .detail .detail-list {
        display: block;
    }
    .lem-list-loop .detail .detail-list li {
        width: 100%;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .lem-list-loop img {
        width: 100%;
    }
    .lem-list-loop .detail-content,
    .lem-list-loop .detail-content p{
        font-size: 14px !important;
    }
}

/* 학제 내서재 팝업 이슈 */
.modal-body .book-directory-item-input {
    max-width: 68% !important;
}

#sr_my_collection .add-item {
    display: none !important;
}


/* 폴더편집 추가의 버튼 */
@media (max-width: 768px) {
    .tab-scroller-group {
        display: block !important;
    }
    .tab-scroller-group .list-sort {
        margin-top: 16px;
        margin-right: 20px;
    }
}

/* 비밀번호 초기화 */
.confirm-select {display: flex; padding-top: 16px;}
.confirm-select label.form-label {font-weight: 500; padding-right: 24px;}
.confirm-select .is_type label {padding-right: 16px;}
.confirm-select input {vertical-align: middle; margin-top: -2px; margin-right: 4px;}
.password-reset-box {padding: 16px; border: 2px dashed #4b4dff; border-radius: 6px; margin-bottom: 24px; font-size: 14px; text-align: center; color: #333;}

/* 영문 홈페이지. 법학오버 오른쪽, 미리내오버 왼쪽 */
.locale-en_US .main-customer-hours .swiper-slide:nth-child(2) .btn-tab-nav {font-size: 11px;padding-right: 5px;padding-left: 5px;}
.locale-en_US .main-customer-hours .swiper-slide:nth-child(5) .btn-tab-nav,
.locale-en_US .main-customer-hours .swiper-slide:nth-child(6) .btn-tab-nav {padding-right: 8px; padding-left: 8px;}
